html {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px 50px;
}

a:hover {
  color: white;
  background-image: url("../assets/real_sockeye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 60px;
  background-color: #e58f85;
  padding: 20px 0px;
}

nav ul {
  padding: 10px;
  margin-right: 5%;
  margin-top: 0px;
  font-weight: bold;
  list-style-type: none;
}

li {
  display: inline;
  padding: 10px;
  float: right;
}

header h2 {
  float: left;
  margin-left: 8%;
}

main {
  clear: both;
}

main section:first-of-type {
  text-align: center;
  color: white;
  font-size: 3em;
  height: 400px;
  margin-top: 0px;
  background-image: url("../assets/hero.jpg");
  background-attachment: fixed;
  top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 140px;
  margin: 0px;
}

#popular-posts-title {
  text-align: center;
  margin-top: 60px;
  font-size: 2.25em;
  margin-left: -10%;
}

#popular-posts-section {
  margin-left: 10%;
  max-width: 1000px;
}

.post-title {
  text-align: center;
  margin: 0px;
  height: 50px;
  border-bottom: 1px solid black;
  padding-top: 10px;
}

.post {
  width: 220px;
  float: left;
  border: 1px solid black;
  border-radius: 5%;
  margin: 15px;
  text-align: justify;
}

.post p:first-of-type {
  height: 90px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 0px;
}

.learn-more-button {
  font-weight: bold;
  text-align: center;
  margin: 0px auto 20px;
}

.post p:nth-of-type(2) {
  text-align: center;
  margin-top: 0px;
}

#join-the-club {
  border-top: 1px solid black;
  clear: both;
}

#join-the-club h2 {
  font-size: 2.9em;
  margin-top: 30px;
  margin-bottom: 0px;
}

#join-the-club p {
  text-align: justify;
  margin-top: 10px;
}

#join-the-club h2, #join-the-club p {
  width: 300px;
  margin-left: 12%;
  float: left;
  clear: left;
}

#join-the-club img {
  width: 350px;
  margin-top: 30px;
  margin-left: 60px;
}

#join-the-club + section {
  background-image: url("../assets/everybody.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  font-size: 3em;
  padding-left: 17%;
  padding-right: 17%;
  color: white;
}

#join-the-club + section h2 {
  padding-top: 80px;
  text-align: center;
}

h4 {
  display: inline;
}

#disclaimer {
  display: inline;
}

footer section {
  width: 400px;
  text-align: justify;
  font-size: 0.75em;
  float: left;
  margin: 20px 0 20px 10%;
}
