html {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

html {
  padding: 0px;
}

header {
  height: 60px;
}

nav ul {
  padding: 10px;
  margin-right: 5%;
  font-weight: bold;
}

nav li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  float: right;
}

header h2 {
  float: left;
  margin-left: 8%;
}

main {
  clear: both;
}

#main-banner {
  text-align: center;
  font-size: 1.5em;
  height: 230px;
  background-color: gray;
}

h1 {
  padding: 85px;
}

#popular-posts-title {
  text-align: center;
  margin-top: 60px;
  font-size: 2.25em;
  margin-left: -10%;
}

#popular-posts-section {
  margin-left: 10%;
}

.post-title {
  text-align: center;
  margin: 0px;
}

.post {
  width: 200px;
  float: left;
  border: 1px solid black;
  border-radius: 5%;
  margin: 15px;
  padding: 20px;
}

.learn-more-button {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  border-radius: 20%;
  text-align: center;
  margin: 0 auto;
}

#join-the-club {
  border-top: 1px solid black;
  clear: both;
}

#join-the-club h2 {
  font-size: 2.9em;
  margin-top: 30px;
  margin-bottom: 0px;
}

#join-the-club p {
  text-align: justify;
  margin-top: 10px;
}

#join-the-club h2, #join-the-club p {
  width: 300px;
  margin-left: 12%;
  float: left;
  clear: left;
}

#join-the-club img {
  width: 350px;
  margin-top: 30px;
  margin-left: 60px;
}

#join-the-club + section {
  background-color: gray;
  height: 300px;
  font-size: 3em;
  padding-left: 17%;
  padding-right: 17%;
}

#join-the-club + section h2 {
  padding-top: 60px;
  text-align: center;
}

footer {
  clear: both;
}
